.spoiler, .trigger.close, .trigger.open:target { display: none; }
.trigger.open:target + .trigger.close,
.trigger.open:target + .trigger.close + .spoiler { display: block; }
a.trigger { text-decoration: none; }
body { min-height: 100px; }
